@model HungVdn1670.Models.UserDetail


@{
    ViewBag.Title = "Index";
}

<p></p>
<ul class="list-group">
    <li class="list-group-item active">My Information</li>
    <li class="list-group-item">Full Name: @Model.FullName</li>
    <li class="list-group-item">Age: @Model.Age</li>
    <li class="list-group-item">TOEIC: @Model.TOEICScore</li>
    <li class="list-group-item">Programming Language: @Model.ProgrammingLanguage</li>
</ul>
<p></p>
<div class="form-group">
    @Html.ActionLink(
             "Edit My User Information",
             "Edit",
             "UserDetails",
             null,
             new { @class = "btn btn-info" }
             )
</div>
