@model HungVdn1670.Models.Course


@{
    ViewBag.Title = "Details";
}

<p></p>
<ul class="list-group">
    <li class="list-group-item active">Details</li>
    <li class="list-group-item">Name: @Model.Name </li>
    <li class="list-group-item">Category: @Model.Category.Name</li>
    <li class="list-group-item">Start Date: @Model.StartDate.ToString("dd/MMM/yyyy")</li>
    <li class="list-group-item">Description: @Model.Description</li>
</ul>
<p></p>
@if (User.Identity.IsAuthenticated && User.IsInRole("staff"))
{
    <div class="form-group">
        @Html.ActionLink(
            "Back to Index page",
            "Index",
            "Courses",
            null,
            new { @class = "btn btn-primary" })
    </div>
}