@model HungVdn1670.ViewModels.AdminChangePasswordViewModel
@{
    ViewBag.Title = "AdminChangePassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

}

<div class="p-5">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Change Password</h1>
    </div>
    @using (Html.BeginForm("AdminChangePassword", "Account", FormMethod.Post, new { @class = "user", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.UserId)
        <div class="form-group">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control form-control-user", placeholder = "New Password" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-user", placeholder = "Confirm New Password" })
        </div>
        <button type="submit" class="btn btn-primary btn-user btn-block">Change Password</button>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

